<%= form_with(model: attending) do |form| %>
  <% if attending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attending.errors.count, "error") %> prohibited this attending from being saved:</h2>

      <ul>
        <% attending.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <h5>حدد الطلاب لتسجيل حضورهم لتاريخ <strong><%= attending.name %></strong></h5>
      <br>
  <div class="form-group">
  <%= form.collection_check_boxes :student_ids, @studentsfornotteacher.order(:id),  :id, :first_name do |t|%>
    <div class="d-none">
    <%= t.label {t.check_box} %>  
    </div>
  <% end %>

  <%= form.collection_check_boxes :student_ids, @studentsforteacher.order(:id), :id, :name_with_initial do |b| %>
    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text} %>
    </br>
  <% end %>
  
  </div>
    <br>
    <%= form.submit "تسجيل حضور", :class => 'btn btn-primary' %>
  
<% end %>

