<%= form_with(model: attending) do |form| %>
  <% if attending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attending.errors.count, "error") %> prohibited this attending from being saved:</h2>

      <ul>
        <% attending.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <h5>حدد الطلاب لتسجيل حضورهم لتاريخ <strong><%= attending.name %></strong></h5>
      <br>
  <div class="form-group">
  <% Student.all.each do |student| %>
    <h5><%= check_box_tag "attending[student_ids][]",student.id, @attending.student_ids.include?(student.id), id: dom_id(student), class: (@attending.student_ids.include?(student.id) ? "form-check-input disabled-custom" : "form-check-input")  %>
    <%= label_tag dom_id(student), student.first_name, :class => 'form-check-label disabled-custom-label' %> <%= label_tag dom_id(student), student.last_name, :class => 'form-check-label disabled-custom-label' %> </h5>
    <br>
  <% end %>
  </div>
    <br>
    <%= form.submit "تسجيل حضور", :class => 'btn btn-primary' %>
  
<% end %>

