<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attending.name %>
  
  <% @attendings.each do |attending| %>
    <tr>
      <td><%= attending.student.first_name %></td>
      <td><%= link_to 'Show', attending %></td>
      <td><%= link_to 'Edit', edit_attending_path(attending) %></td>
      <td><%= link_to 'Destroy', attending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</p>

<%= link_to 'Edit', edit_attending_path(@attending) %> |
<%= link_to 'Back', attendings_path %>
