<p id="notice"><%= notice %></p>

<h1>Studentclasses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studentclasses.each do |studentclass| %>
      <tr>
        <td><%= studentclass.name %></td>
        <td><%= studentclass.students_id %></td>
        <td><%= link_to 'Show', studentclass %></td>
        <td><%= link_to 'Edit', edit_studentclass_path(studentclass) %></td>
        <td><%= link_to 'Destroy', studentclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studentclass', new_studentclass_path %>
