<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <h5>حدد الصفحات لتسجيل التسميع <strong><%= student.first_name %> <%= student.last_name %></strong></h5>
      <br>

  <div class="form-group">
  <% @memorizationsforstudent.each do |memorization| %>
    <h5><%= check_box_tag "student[memorization_ids][]",memorization.id, @student.memorization_ids.include?(memorization.id), id: dom_id(memorization), class: (@student.memorization_ids.include?(memorization.id) ? "form-check-input disabled-custom" : "form-check-input") %>
    <%= label_tag dom_id(memorization), "اسم السورة " + (memorization.name).to_s + " رقم الصفحة " + (memorization.page).to_s + " الجزء " + (memorization.part).to_s, :class => 'form-check-label disabled-custom-label' %> </h5>
    <br>
  <% end %>
  <%= paginate @memorizationsforstudent %>

  </div>
    <br>
    <%= form.submit "تسجيل التسميع", :class => 'btn btn-primary' %>
  
<% end %>


