<%= form_with(model: memorization) do |form| %>
  <% if memorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memorization.errors.count, "error") %> prohibited this memorization from being saved:</h2>

      <ul>
        <% memorization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
      <%= form.label "page" %>
    <%= form.collection_select :memorization_id, Memorization.order(:name),:id,:name, include_blank: false %>  </div>
</div>

<div class="form-group">
      <%= form.label "studnet" %>
    <%= form.collection_select :student_id, Student.order(:id),:id,:first_name, include_blank: false %>  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
